body,html
{
	width: 100%;
	height: 100%;
	font-size: 16px;
	background-color: ghostwhite!important;
}
button,button:focus
{
	outline: none;
}
.toggleDrag
{
  -webkit-app-region: drag;
    position: relative;
    /* left: 30%; */
    padding: 10px 10px 10px 24px;
    float: left;
    cursor: pointer;
    /* margin: 11px; */
    width: 100%;
    top: 5px;
}
header{
      position: fixed;
    float: left;
    width: 100%;
    background: black;
    color: white;
    font-size: 18px;
    background-image: linear-gradient(-90deg,#99ddff,#0af);
}
.window-buttons{
  position: relative;
    float: left;
    width: 20%;
    text-align: right;
    right: 25px;
}
.title{
      width: 80%;
    position: relative;
    float: left;
    height: 50px;
}
#minimize{
      width: 40px;
    height: 24px;
    position: relative;
    top: 13px;
        margin-right: 8px;
        cursor: pointer;
}
#close{
         width: 18px;
    height: 20px;
    position: relative;
    top: 10px;
    cursor: pointer;
}
.title-text
{
	position: relative;
    top: 8px;
}
.fullscreen
{
	width: 100%;
	height: 100%;
}
.config-choose-wrap{
	position: relative;
	top: 150px;
	text-align: center;
}
.config-choose-btn-wrap{
	position: relative;
	top: 30px;
}
.config-choose-btn
{
	border: 1px solid #343a40;
    background: #343a40;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: 'Dosis';
    font-size: 18px;
    outline: none;
}
.config-choose-btn:hover
{
	background: black;
	transition-duration: 0.5s;
}
.config-choose-text
{
	font-family: 'Dosis';
	font-size: 20px;
}
#progress-text
{
	text-align: center;
    font-size: 22px;
    font-family: 'Dosis',sans-serif;
    position: relative;
    bottom: 10px;
}
.progress
{
	height: 25px!important
}
.process-wrap
{
	position: relative;
    top: 150px;
}

.show-file-wrap
{
	text-align: center;
	display: none;	
}
#show-file
{
    border: none;
    padding: 7px 20px;
    background: whitesmoke;
    color: white;
    border-radius: 5px;
    outline: none;
    color: black;
    border: 1px solid;
}
#show-file:focus
{
	outline: none;
}
.back-btn
{
	width: 20px;
    height: 19px;
    position: relative;
    top: 6px;
    -webkit-app-region: no-drag;
    margin-right: 20px;
}
#view-log
{
	float: right;
    border: none;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}
#the-log
{
    width: 100%;
    height: 150px;
    border: 1px solid;
    position: relative;
    top: 45px;
    overflow: auto;
}
.a-log
{
	background: white;
	margin-top: 10px;
}


.slider {
    -webkit-appearance: none;
    width: 40%!important;
    height: 18px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    margin-left: 5%;
    transition: opacity .2s;
    display: inline-block!important;
    vertical-align: middle;
    position: relative;
    left: 20%;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
    border-radius: 50%;
}
.slider-value-text
{
	vertical-align: middle;
	position: relative;
	left: 25%;
}
.option-text
{
	position: relative;
	left: 20%;
}
#opacity-range-slider
{
	left: 21.5%!important;
}
#opactiy-value
{
    left: 26.5%!important;
}
#transparency-check
{
	position: relative;
	left: 21%;
}
#hex-color
{
	position: relative;
    left: 31%;
}
.inline-block
{
	display: inline-block;
}
.an-option
{
	position: relative;
    top: 40px;
}
.preview-sections-wrap
{
	text-align: center;
    padding-top: 14%;
}
#show-preview
{
	position: relative;
    top: 100px;
    left: 40%;
    border: none;
    background: black;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
#start-processing
{
	position: relative;
    top: 165px;
    left: 17%;
    border: none;
    background: black;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
#transparency-options
{
    margin-top: 10px;
}

.transparency-preview-wrap,.prorcess-wrap{
  display: none;
}

.error-input{
  border: 1px solid red;
}
.correct-input{
  border: 1px solid green;
}

input,button{
  outline: none;
}
.progressbar-new-wrapper{
        width: 100%;
     text-align: center; 
    margin: 20px 0px;
}
.progressbar-new{
        width: 100%;
    background: white;
    border-radius: 25px;
    padding: 8px 8px;
    box-shadow: 2px 2px 10px 0px lightgrey;
    margin: 0 auto;
    text-align: left;
}
.progressbar-new-inner{
    width: 0%;
    background: #0af;
    height: 100%;
    content: "";
    border-radius: 18px;
    transition-duration: 0.5s;
    text-align: center;
    color: transparent;
}
#show-file{
    padding: 6px 13px;
    margin: 0px 10px;
    border-radius: 2px;
    cursor: pointer;
    background: rgba(0,170,255,0.7);
    color: white;
    border: 1px solid rgba(1,1,1,0.1);
}
#go-home{
    padding: 6px 13px;
    margin: 0px 10px;
    border-radius: 2px;
    cursor: pointer;
    background: white;
    color: grey;
    border: 1px solid rgba(1,1,1,0.1)
}
.install-update{
  display: none;
    position: relative;
     top: 10px; 
    width: 28px;
    cursor: pointer;
    height: 28px;
    /*left: 12px;*/
}
.new-image{
        position: relative;
     top: 10px; 
    width: 28px;
    cursor: pointer;
    height: 28px;
    /*left: 12px;*/
    display: none;
}
.infinite-loader{
  /*border: 3px solid;*/
    /*width: 28px;
    height: 28px;*/

    /*border-radius: 50%;*/
    color: white;
    border : none;
    /*border-color: #0af transparent transparent;*/
    /*animation: spin 2s linear infinite;*/
    /* position: fixed; */
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px 1px;
    cursor: progress;
    display: none;
    position: relative;
    
}
