body
{
	overflow-y: hidden;
	overflow-x: hidden;
	border: 1px dashed crimson;
	/*margin-top: 45px;/*space for dragger*/
}
.toggleDrag
{
	/*-webkit-app-region: drag*/
}
#drag-wrap
{
	position: absolute;
	top: 35%;
	/*width: 100%;*/
	left: 45%;
}
#dragger
{
	width: 50px;
	height: 50px;
	cursor: move;
}
.abs
{
	position: absolute;
	pointer-events: none;
}
.bottom
{
	bottom: 0;
	height: 30px;
}
.top-left
{
	top : 0;
	left: 0;
	height: 50px;
	width: 50px;
	/*border-top: 2px solid black; 
	border-left: 2px solid black;*/
}
.bottom-right
{
	bottom: 0;
	right: 0;
	height: 50px;
	width: 50px;
	/*border-bottom: 2px solid black; 
	border-right: 2px solid black;*/
	/*margin-bottom: 40px;*/
}
.bottom-left
{
	left: 0;
	bottom: 0;
	height: 50px;
	width: 50px;
	/*border-left: 2px solid black; 
	border-bottom: 2px solid black;*/
	/*margin-bottom: 40px;*/
}
.top-right
{
	right: 0;
	top: 0;
	height: 50px;
	width: 50px;
	/*border-top: 2px solid black; 
	border-right: 2px solid black;*/
}
/*.topContainer
{
	background: grey;
	opacity: 0.7;
}*/