body
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #e7e7e7!important;
	font-family: 'Helvetica Neue';
	overflow: hidden;
}
.toggleDrag
{
	-webkit-app-region: drag
}
#control-wrap
{
	width: 100%;
    float: left;
    height: 60px;
    border-top: none;
    position: relative;
    top: -6px;
}
#control-wrap button
{
	background: none;
    border: none;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
#control-wrap button:hover
{
	border-bottom : 2px solid crimson; 
    transition-duration: 1s;
}
#timer
{
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-weight: bold;
  color: white;
}
#mic-name
{
      position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Dosis',sans-serif;
}
#record-icon
{
	float: left;
    margin-left: 11%;
    position: relative;
    top: -40px;
}
#stream-wrap
{
	position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  -webkit-app-region: drag;
  	text-align: center;
}
#preview-video
{
	width: 100%;
	height: 100%;
  
}
#preview-wrapper
{
position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  background: rgba(0, 0, 0, 1);
  -webkit-app-region: no-drag;x
}
#preview-title
{
	height: 50px;
	border-bottom: none;
	background: black;
	color : white;
	font-size: 18px;
    padding: 5px 10px;
    /*position: fixed;
    width: 100%;*/
}
#preview-minimize-2{
	position: fixed;
	right: 10%;
}
#preview-minimize , #preview-minimize-2
{
	margin-right: 5px;
}
#preview-close , #preview-minimize,#preview-minimize-2
{
	float: right;
	color: black;
	background-color: #e7e7e7;
	padding: 0px 12px 12px 12px;
    cursor: pointer;
}
#preview-stop
{
	display: none;
}
#control
{
    margin-left: 45%;
}

svg{
display: block;
width: 100%;
height: 100%;
padding: 0;
margin: 0;
position:absolute;

}

#waveform
{
      position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
}
path{
stroke-linecap: square;
stroke: white;
stroke-width: 0.5px;
}