* {
  box-sizing: content-box !important;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Dosis", sans-serif;
}
.input,
button {
  border-radius: 0px;
}

.wrapper {
  /* height: 820px; */
  margin: 0 auto;
}
.settings-toggleDrag {
  -webkit-app-region: drag;
  position: relative;
  /* left: 30%; */
  padding: 5px 10px;
  float: left;
  cursor: pointer;
  /* margin: 11px; */
  width: 80%;
}
.title {
  background-image: linear-gradient(-90deg, #99ddff, #0af);
  height: 30px;
  /* border-bottom: 1px solid grey; */
  /* background: black; */
  color: white;
  z-index: 2;
  font-size: 18px;
  padding: 10px 20px;
  position: fixed;
  width: calc(100% - 40px);
  /* border-radius: 10px 10px 0px 0px; */
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);
}
#settings-minimize {
  /*margin-right: 5px;
    padding: 0 12px 12px 12px;
    */
  width: 34px;
  height: 24px;
  margin-left: 4px;
  position: relative;
  cursor: pointer;
  float: right;
  top: 5px;
  position: relative;
  /*top: 10px;*/
}

#settings-close {
  /*padding: 6px 12px 6px 12px;*/
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-left: 10px;
  float: right;
  top: 5px;
  position: relative;
}
#backbtn-image {
  position: relative;
  float: left;
  /* margin: 2% 0; */
  width: 18px;
  height: 24px;
  top: 7px;
}

.wrapperdiv {
  position: relative;
  display: inline-block;
  top: 102px;
  font-size: 10px;
  width: calc(100% - 2px);
  margin: 0 auto;
  padding: 1px;
  /* text-align: center; */
}
.buttonaddtemplate {
  display: inline-block;
  position: relative;
  margin-top: 140px;
  margin: 0 auto;
  top: 15px;
  width: 300px;
  height: 186px;
  text-align: center;
  /* float: left; */
  z-index: 1;
  margin-left: 20px;
}
#buttonaddtemplate.buttonaddtemplate {
  background: white;
  border: none;
  /* border-radius: 4px; */
  padding: 7px 24px;
  color: black;
  border: 1px solid black;
  font-size: 14px;
  margin: 0 auto;
  vertical-align: top;
  padding: 20px;
}
#deletetemplate {
  background: rgb(196, 2, 18);
  border: none;
  display: inline-block;
  /* border-radius: 4px; */
  padding: 6px 10px;
  color: black;
  border: 1px solid white;
  color: white;
  font-size: 14px;
}
#makedefaulttemplate {
  background: #0af;
  border: none;
  display: inline-block;
  /* border-radius: 4px; */
  padding: 6px 10px;
  color: black;
  border: 1px solid white;
  color: white;
  font-size: 14px;
}
#confirmbtn {
  background: #0af;
  border: none;
  display: inline-block;
  position: absolute;
  top: 63px;
  right: 85px;
  /* border-radius: 4px; */
  padding: 6px 10px;
  color: black;
  border: 1px solid white;
  color: white;
  font-size: 14px;
}
#cancelbtn {
  background: #0af;
  border: none;
  display: inline-block;
  position: absolute;
  top: 63px;
  right: 14px;
  /* border-radius: 4px; */
  padding: 6px 10px;
  color: black;
  border: 1px solid white;
  color: white;
  font-size: 14px;
}
.delete-icon {
  width: 2rem;
  position: absolute;
  top: 0;
  right: 0;
}
.image-wrapper {
  position: relative;
  display: inline-block;
  padding-left: 25px;
}
.image-wrapper-second {
  position: relative;
  display: inline-block;
  padding-left: 25px;
}
.image-wrapper label {
  position: relative;
  display: inline-block;
}
.image-wrapper img {
  display: inline-block;

}
.image-wrapper input {
  display: none;
}
.image-wrapper input:checked + .caption {
  background: rgba(0,0,0,0.5);
}
.image-wrapper input:checked + .caption::after {
  content: '✔';
  position: absolute;
  top: 50%; left: 50%;
  width: 70px; height: 70px;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 60px;
  line-height: 80px;
  text-align: center;
  border: 2px solid white;
  border-radius: 50%;
}
.templateclass {
  width: 350px;
  height: 216px;
  cursor: pointer;
  padding: 20px 20px 0 20px;
}
.active {
  background-color: green !important;
}
#Progress_Status {
  width: 50%;
  background-color: #ddd;
}

#myprogressBar {
  width: 1%;
  height: 35px;
  background-color: #0af;
  text-align: center;
  line-height: 32px;
  color: black;
}
#downloadButton {
  background: #0af;
  border: none;
  display: inline-block;
  /* border-radius: 4px; */
  padding: 6px 10px;
  color: black;
  border: 1px solid white;
  color: white;
  font-size: 14px;
}
.a-template {
  display: inline-block;
}
.template-btns-wrap {
  padding: 0 20px;
  text-align: right;
  margin-top: 10px;
}
.template-name-wrapper {
  padding: 0 20px;
}
.template-name-wrapper p{
  margin: 0;
    font-size: 16px;
    text-align: center;
    /* border: 1px solid #0af; */
    border-top: 0;
    cursor: pointer;
    background: rgba(1,1,1,0.1);
}
.caption {
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  pointer-events: none;
}
.caption span {
  display: none;
  padding: 4px 8px;
  color: #fff;
  background: #0af;
  font-family: 'Myriad Pro regular';
  font-size: 15.31px;
}
