/*::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    width: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}*/

@font-face {
    font-family: 'Dosis-Light';
    src: url('./assets/fonts/Dosis-Light.ttf');
    /*src: local('DejaVu Serif'), url('DejaVuSerif-webfont.woff') format('woff'), url('DejaVuSerif-webfont.ttf') format('truetype'), url('DejaVuSerif-webfont.svg#webfontCFu7RF0I') format('svg');*/
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Orbitron-Regular';
    src: url('./assets/fonts/Orbitron-Regular.ttf');
    /*src: local('DejaVu Serif'), url('DejaVuSerif-webfont.woff') format('woff'), url('DejaVuSerif-webfont.ttf') format('truetype'), url('DejaVuSerif-webfont.svg#webfontCFu7RF0I') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px;
    width: 800px;
    height: 600px!important;
    margin: 0;
    /* padding: 1px; */
    background: transparent!important;
    font-family: "Dosis-Light";
}

.toggleDrag {
    -webkit-app-region: drag;
    position: relative;
    /* left: 30%; */
    padding: 10px;
    float: left;
    cursor: pointer;
    /* margin: 11px; */
    width: 69%;
}

#show-screen-wrap {
    display: none;
    margin: 0 auto;
}

#show-screen-wrap p {
    float: left;
}

.menu-buttons button,
.rec-buttons button {
    background: none;
    border: 2px solid transparent;
    padding: 15px;
    margin-right: 25px;
    cursor: pointer;
    margin-bottom: 10px;
}

.menu-buttons button:hover,
.rec-buttons button:hover {
    border-bottom: 2px solid black;
    transition-duration: 1s;
}

.bottom-border-dashed {
    border-bottom: 1px solid white;
}

.menu-buttons,
.rec-buttons {
    text-align: center;
}

.menu-con {
    /* background: lightcoral; */
    padding-top: 10px;
    float: left;
    width: 100%;
}

.wrapper {
    /* border: 1px solid rgba(1, 1, 1, 0.1); */
    background: ghostwhite;
    height: 100%;
    /*border-radius: 10px 10px 10px 10px;*/
}

.title-serial-key {
    height: 40px;
    /* border-bottom: 1px solid grey; */
    background: black;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
}

#settingsImg {
    height: 28px;
    width: 28px;
    position: relative;
    cursor: pointer;
    transition-duration: 0.5s;
}

#settingsImg:hover {
    /* -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); */
}

.title {
    height: 60px;
    /* border-bottom: 1px solid grey; */
    /* background: black; */
    color: white;
    z-index: 2;
    font-size: 18px;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    /* border-radius: 10px 10px 0px 0px; */
    border-bottom: 1px solid rgba(1, 1, 1, 0.1);
}

#minimize {
    /*margin-right: 5px;
	padding: 0 12px 12px 12px;
	*/
    width: 38px;
    height: 24px;
    /*margin-left: 22px;*/
    position: relative;
    /*top: 8px;*/
}

#close {
    /*padding: 6px 12px 6px 12px;*/
    position: relative;
    width: 18px;
    height: 18px;
    /*top: 6px;*/
}

.title #close,
#minimize {
    /*float: right;*/
    /* border: 1px solid grey; */
    cursor: pointer;
    /* text-align: center; */
    font-size: 16px;
    /* background: #e5e5e5; */
    /* line-height: 1.5em; */
    /* vertical-align: middle; */
    color: black;
}

.title-serial-key #close,
#minimize {
    /* float: right; */
    color: white;
    /* border: 1px solid grey; */
    cursor: pointer;
    /* text-align: center; */
    font-size: 16px;
    /* background: #e5e5e5; */
    /* line-height: 1.5em; */
    /* vertical-align: middle; */
    color: black;
}

.overlay,
.overlay-width {
    display: none;
}

.overlay-text,
.width-text {
    padding-left: 20px;
}

.menu-buttons,
.rec-buttons,
.overlay,
.overlay-width,
.resolution {
    color: black;
    margin-top: 5px;
    float: left;
    width: 100%;
}

.overlay-width .width-val {
    border: none;
}

.dropdown,
.width-val {
    padding: 10p/*x;
    background: black;
    cursor: pointer;
    color: white;
    float: right;
    margin-right: 45px;
    width: 40%;
    text-align: center;*/
}

option {
    background: #e7e7e7;
    color: black;
}

option:hover {}

#conf-over-res {
    background: #e7e7e7;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 86px;
}

hr {
    float: left;
    width: 100%;
}

.a-menu-rec {
    width: 30%;
    display: inline-block;
}

.rec-text {
    margin-right: 25px;
}

.last {
    margin-bottom: 30px;
}

#info {
    display: inline;
    position: relative;
    left: 10px;
    top: -2px;
    cursor: pointer;
}

#shortcut-wrap {
    display: inline-block;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding-left: 8%;
    opacity: 0.7;
    color: white;
}

#shortcut-title {
    border-bottom: 1px solid white;
}

#loader-wrap {
    text-align: center;
    width: 100%;
    margin-top: 7%;
    margin-bottom: 7%;
}

#loader {
    border: 16px solid rgba(242, 242, 242, 0.5);
    /* Light grey */
    border-top: 16px solid black;
    /* Blue */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    /* animation: spin 1s linear infinite; */
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.progress {
    margin-bottom: 15%;
    height: 2rem!important;
}

.container {
    margin-top: 10%;
}

.container div {
    /*font-family: 'Dosis', sans-serif;*/
    color: white;
    font-size: 20px;
}

#progress-text {
    color: black;
    margin-bottom: 15px;
}


/*very beautiful orange
#FE5246*/


/*-----editor--options----*/

.option-text {
    padding-left: 20px;
    display: inline-block;
    width: 36%;
    vertical-align: middle;
}

.editor-options-check {
    margin-left: 5%!important;
}

#back-img-selector {
    margin-left: 20px;
}

#selected-back-img {
    margin-left: 20px;
    color: blue;
}

#transparency-check {
    /*	margin-left: 13%!important;*/
}

#hex-color {
    margin-left: 20px!important;
}

.slider {
    -webkit-appearance: none;
    width: 40%!important;
    height: 18px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    margin-left: 5%;
    transition: opacity .2s;
    display: inline-block!important;
    vertical-align: middle;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
    border-radius: 50%;
}

.slider-value-text {
    vertical-align: middle;
}

#transparency-options {
    display: none;
}

.transparency-options-show {
    display: inline-block;
    width: calc(80% - 20px);
}

.swal-button--later,
.swal-button--change {
    background: none;
    color: crimson;
    border: 1px solid;
    outline: none;
}

.swal-button--now,
.swal-button--open {
    background: none;
    color: green;
    border: 1px solid;
    outline: none;
}

.swal-button--now:hover,
.swal-button--open:hover {
    color: white;
    background: green;
    transition-duration: 0.5s;
    outline: none;
}

.swal-button--later:hover,
.swal-button--change:hover {
    color: white;
    background: crimson;
    transition-duration: 0.5s;
    outline: none;
}

.swal-button {
    box-shadow: none!important
}

.swal-button:focus {
    box-shadow: none!important
}

.process-recorded {
    border: none;
    background: lightgrey;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
}

.process-recorded:hover {
    /* background: darkgrey;
	transition-duration: 0.5s; */
}

.process-recorded:focus {
    outline: none;
}

.open-existing {
    /* float: right; */
    position: relative;
    /* top: 4px; */
    /* right: 17px; */
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.refresh-image {
    /* float: left; */
    width: 28px;
    height: 28px;
}

.install-update {
    display: none;
    position: relative;
    /* top: -12px; */
    width: 28px;
    cursor: pointer;
    height: 28px;
    /*left: 12px;*/
}

.new-image {
    position: relative;
    /* top: -12px; */
    width: 28px;
    cursor: pointer;
    height: 28px;
    /*left: 12px;*/
    display: none;
}

.infinite-loader {
    /*border: 3px solid;*/
    /*width: 28px;
    height: 28px;*/
    /*border-radius: 50%;*/
    color: #0af;
    border: none;
    /*border-color: #0af transparent transparent;*/
    /*animation: spin 2s linear infinite;*/
    /* position: fixed; */
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px 1px;
    float: left;
    cursor: progress;
    display: none;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
    /*100%{transform:rotate(360deg);filter:hue-rotate(360deg)}*/
}

.check-for-updates {
    float: right;
    position: relative;
    top: 7px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

div.select {
    display: inline-block;
    margin: 0 0 1em 0;
    padding-left: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

p.small {
    font-size: 0.7em;
}

label {
    width: 12em;
    color: white;
    display: inline-block;
}

#refreshButton {
    margin-top: 10px;
}

#current-rec {
    cursor: default;
}

#current-rec:hover {
    border: none;
}

.option-full-screen {
    display: none;
}

.menu-buttons,
.rec-buttons {
    margin-top: 60px;
}

.error-input {
    border: 1px solid red;
}

.correct-input {
    border: 1px solid green;
}

input,
button {
    outline: none!important;
}

.settings-wrap {
    position: relative;
    float: right;
    right: 70px;
    top: 3px;
}


/****************** updated UI**********************/

.video-play-button {
    position: relative;
    z-index: 10;
    top: 71px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 86px;
    height: 90px;
    /* background: #fa183d; */
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
}

.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: grey;
    border-radius: 50%;
    /*animation: pulse-border 1500ms ease-out infinite;*/
}

.video-play-button-active:before {
    /* animation: pulse-border 1500ms ease-out infinite; */
}

.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    background: #e8e8e8;
    border-radius: 50%;
    transition: all 200ms;
}


/* .video-play-button:hover:after {
  background-color: darken(grey, 10%);
} */

.video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid black;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

.video-overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.80);
    opacity: 0;
    transition: all ease 500ms;
}

.video-overlay.open {
    position: fixed;
    z-index: 1000;
    opacity: 1;
}

.video-overlay-close {
    position: absolute;
    z-index: 1000;
    top: 15px;
    right: 20px;
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 200ms;
}

.video-overlay-close:hover {
    color: #fa183d;
}

.video-overlay iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* width: 90%; */
    /* height: auto; */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

.content {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 80px;
}


/*.blurred-box{
  position: relative;
  width: 250px;
  height: 350px;
  top: calc(50% - 175px);
  left: calc(50% - 125px);
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}

.blurred-box:after{
 content: '';
 width: 300px;
 height: 300px;
 background: inherit;
 position: absolute;
 left: -25px;
 left position
 right: 0;
 top: -25px;
 top position
 bottom: 0;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
 filter: blur(10px);
}*/

.grey-mic-img {
    width: 24px;
    height: 24px;
}

.grey-back {
    display: inline-block;
    background: rgba(1, 1, 1, 0.1);
    padding: 5px 10px;
    border-radius: 50px;
    visibility: hidden;
}


.half-width {
    width: 50%;
    position: relative;
    float: left;
    text-align: center;
}

.half-width>img {
    /* width: 72px; */
}

.half-width>span {
    background: rgba(1, 1, 1, 0.1);
    padding: 8px;
    /*border-radius: 15px;*/
    position: relative;
    top: 10px;
    cursor: pointer;
}

.toggle-mode-row {
    position: relative;
    float: left;
    width: 100%;
    top: 10px;
}

.half-width:hover {
    /*zoom : 1.001;*/
}

.back-img {
    position: absolute;
    filter: blur(1px);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.custom-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 20%;
    display: inline-block!important;
    /*text-align: center;*/
    padding: 12px;
    margin: 20px;
    margin-top: 30px;
    cursor: pointer;
    background: white;
    transition: all .2s ease-in-out;
}

.custom-card:hover {
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    /*padding: 16px;*/
}

.menu-btn-container {
    padding: 2px;
    margin-top: 10px;
    text-align: center;
}

.menu-btn-img {
    width: 48px;
    height: 48px;
}

.pure-material-checkbox {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    line-height: 1.5;
}


/* Input */

.pure-material-checkbox>input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    /* left: -10px; */
    top: -12px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0.04;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
    right: 0;
    /* top: 0; */
}


/* Span */

.pure-material-checkbox>span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}


/* Box */

.pure-material-checkbox>span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px;
    /* Safari */
    /*border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);*/
    border-color: transparent;
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}


/* Checkmark */

.pure-material-checkbox>span::after {
    content: "";
    /* display: block; */
    position: absolute;
    top: 3px;
    right: 14px;
    width: 16px;
    height: 7px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}


/* Checked, Indeterminate */

.pure-material-checkbox>input:checked,
.pure-material-checkbox>input:indeterminate {
    /*background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));*/
    background: black;
    opacity: 0;
}

.pure-material-checkbox>input:checked+span::before,
.pure-material-checkbox>input:indeterminate+span::before {
    /*border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));*/
}

.pure-material-checkbox>input:checked+span::after,
.pure-material-checkbox>input:indeterminate+span::after {
    border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
}

.pure-material-checkbox>input:indeterminate+span::after {
    border-left: none;
    transform: translate(4px, 3px);
}


/* Hover, Focus */

.pure-material-checkbox:hover>input {
    opacity: 0.04;
}

.pure-material-checkbox>input:focus {
    opacity: 0.12;
}

.pure-material-checkbox:hover>input:focus {
    opacity: 0.16;
}


/* Active */

.pure-material-checkbox>input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.pure-material-checkbox>input:active+span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox>input:checked:active+span::before {
    border-color: transparent;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}


/* Disabled */

.pure-material-checkbox>input:disabled {
    opacity: 0;
}

.pure-material-checkbox>input:disabled+span {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    cursor: initial;
}

.pure-material-checkbox>input:disabled+span::before {
    border-color: currentColor;
}

.pure-material-checkbox>input:checked:disabled+span::before,
.pure-material-checkbox>input:indeterminate:disabled+span::before {
    border-color: transparent;
    background-color: currentColor;
}

.checkbox-row {
    text-align: right;
    display: none;
}

.img-row {
    text-align: center;
}

.play-btn-wrap {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 60px;
}

.circle-wrap {
    width: 33%;
    display: inline-block;
    height: 260px;
}

.outer-circle {
    height: 100%;
    border-radius: 50%;
    /*border: 1px solid rgba(1,1,1,0.1);*/
    width: 100%;
    position: relative;
    left: 10%;
}

.inner-circle {
    width: 88%;
    height: 89%;
    position: relative;
    left: 6%;
    top: 6%;
    /*border: 1px solid rgba(1,1,1,0.1);*/
    border-radius: 50%;
    /*background: #e8e8e8;*/
}

.wave {
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 50%;
    background: #0af;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 50%;
    /*animation: drift 3000ms infinite linear;*/
}

.wave.-three {
    /*animation: drift 5000ms infinite linear;*/
}

.wave.-two {
    /*animation: drift 7000ms infinite linear;*/
    opacity: .1;
    background: yellow;
}

.box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}

.quick-settings-wrap {
    width: 33%;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
}

.quick-settings-img-wrap {
    display: inline-block;
    /*background: #e5e5e5;*/
    padding: 10px;
    border-radius: 50%;
    /*cursor: pointer;*/
    position: relative;
    left: 0px;
    z-index: 2;
    margin: 15px 0px;
}

.quick-settings-img-wrap:hover {
    /*background: rgba(0,170,255,0.8);
  transition-duration: 0.5s;*/
}

.quick-settings-img {
    width: 28px;
    height: 28px;
}

.quick-settings-row-1,
.quick-settings-row-2 {
    text-align: center;
    margin-bottom: 13px;
}

.quick-settings-sep {
    border-top: 1px solid white;
    left: 0%;
    /* box-shadow: 0 20px 20px -20px #333; */
    border: none;
    height: 20px;
    width: 95%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 15px 17px -20px #333;
    margin: -50px auto 10px;
    position: relative;
    z-index: 1;
}

.lbl {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 44px;
    background: #898989;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
    vertical-align: middle;
    left: 15px;
}

.lbl:after {
    position: absolute;
    left: -2px;
    top: -3px;
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    content: '';
    transition: all 0.3s ease;
}

.lbl:active:after {
    transform: scale(1.15, 0.85);
}

.cbx:checked~label {
    background: rgba(1, 1, 1, 0.5);
}

.cbx:checked~label:after {
    left: 20px;
    background: black;
}

.cbx:disabled~label {
    background: #d5d5d5;
    pointer-events: none;
}

.cbx:disabled~label:after {
    background: #bcbdbc;
}

.hidden {
    display: none;
}

.fullscreen-text {
    vertical-align: middle;
    display: inline-block;
}

.fullscreen-wrap {
    top: 10px;
    position: relative;
    visibility: hidden;
}

.inline-block {
    display: inline-block;
}

.drp-btn {
    background-color: transparent!important;
    border-color: #898989!important;
    color: black!important;
    cursor: pointer;
    max-width: 90%!important;
    width: 90%!important;
    overflow: hidden!important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-wrap {
    margin-top: 60px;
    text-align: center;
}

.custom-dropdown {
    position: relative;
    width: 70%;
    max-width: 70%;
}

.active-card {
    /*width: 25%;*/
    /*z-oom : 1.2;*/
    transform: scale(1.2);
}

.active-card img {
    width: 64px;
    height: 64px;
}

.bubble-small {
    display: inline-block;
    position: fixed;
    width: 20px;
    height: 20px;
    background: #0af;
    padding: 5px;
    top: 5%;
    right: 46%;
    border-radius: 50%;
}

.extra-info-wrap {
    position: absolute;
    top: 0;
}

.an-extra-info {
    padding: 5px 25px 5px 5px;
    background: white;
    box-shadow: 1px 2px 5px grey;
    margin: 10px 0px;
}

.title-icons {
    top: 3px;
    position: relative;
    float: right;
}

.inline-block.title-icons>img {
    margin: 0px 3px;
}

.source-btn {
    width: 66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #0af!important;
    border-color: #0af!important;
}

.a-source {
    padding: 1rem;
}

.a-source:hover {
    cursor: pointer;
    background: whitesmoke;
    transition-duration: 0.5s;
}

.source-list-wrap {
    padding: 0!important;
    max-height: 300px;
    overflow: auto;
}

.active-source {
    background: #0af;
}

.stop-btn-wrap {
    width: 50px;
    height: 48px;
    background: #e8e8e8;
    position: absolute;
    right: 20px;
    border-radius: 50%;
    visibility: hidden;
    bottom: -20px;
}

.stop-btn-wrap>.stop-btn {
    width: 25px;
    height: 25px;
    position: relative;
    top: 12px;
    border: none;
    border-radius: 3px;
    background: #605b5b;
    left: 12px;
}

.shortcut {
    float: right;
}

.background-img-btn-2 {
    width: 36px;
    height: 36px;
}

video::-webkit-media-controls {
    display: none !important;
}

#camera-stream-preview {
    border-radius: 1rem;
    position: relative;
    /* right: 5px; */
    box-shadow: -1px 3px 16px 0 rgba(0, 0, 0, 0.2);
    display: none;
    object-fit: cover;
    width: 95%;
    left: 5%;
}
.reprocess-video {
    width: 42px;
    cursor: pointer;
}
.rec-time-wrapper {
    visibility: hidden;
    position: relative;
    left: 25px;
    top: 10px;
    background: #0af;
    color: white;
}
.video-play-container {
    position: relative;
}

.rec-time-row {
    text-align: center;
    margin-top: 50px;
    visibility: hidden;
    position: relative;
}
.rec-time-text {
    font-family: Dosis-Light;
    font-size: 22px;
    font-weight: initial;
    /* border: 1px solid; */
    background: #0af;
    color: white;
    position: relative;
    display: inline-block;
    padding: 0 11px;
    border-radius: 5px;
}
.rec-status-text {
    padding: 5px 0;
}
