body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: ghostwhite;
}
.title {
  background: black;
  padding: 15px 10px;
  color: white;
  font-family: Dosis, sans-serif;
  font-size: 16px;
  background-image: linear-gradient(-90deg, #99ddff, #0af);
}
.title-text {
  position: relative;
  left: 10px;
  font-size: 16px;
  width: 85%;
  display: inline-block;
}
.toggleDrag {
  -webkit-app-region: drag;
}
#close {
  /*padding: 6px 12px 6px 12px;*/
  /* padding: 6px 12px 6px 12px; */
  position: relative;
  width: 18px;
  cursor: pointer;
  height: 18px;
  /* top: 6px; */
  float: right;
  right: 10px;
  /*top: 6px;*/
}
.content {
  /*background: ghostwhite; */
  position: relative;
  float: left;
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
  /* top: 13%; */
}
.input-row {
    margin: 50px 0px 20px 0px;
  text-align: center;
}
.btn-row {
  margin-bottom: 35px;
  text-align: center;
}
.key1 {
  margin: 0 auto;
  padding: 10px 15px;
  outline: none;
  text-align: center;
  border: 2px solid #0af;
  border-radius: 5px;
}
.button {
  background: transparent;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.button:hover {
  border-color: transparent;
  transition-duration: 0.5s;
  background: #0af;
  color: white;
}
.top-content {
  text-align: center;
  margin-top: 32px;
  padding-bottom: 15px;
  box-shadow: 0px 8px 22px -8px lightgrey;
}
.logo {
  vertical-align: middle;
  width: 47px;
}
.title-text-recorder {
  display: initial;
  vertical-align: middle;
  font-size: 26px;
  font-family: Dosis, sans-serif;
  margin-left: 15px;
}
.btn-get-free-trial {
  /* text-align: center;
    color: #00aaff;
    text-decoration: underline;
    cursor: pointer;*/
}
.btn-footer {
    background: white;
    outline: none;
    border: 2px solid transparent;
    font-size: 14px;
    cursor: pointer;
    font-weight: lighter;
    padding: 4px 10px;
    transition-duration: 0.5s;
    margin: 0 10px;
}
.btn-footer:hover {
    border: 2px solid #0af;
}
.footer {
    text-align: center;
}

.footer-seperator {
    width: 85%;
}

.footer-row {
    border: 1px solid lightgrey;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    text-align: left;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: Arial;
    font-size: 14px;

}
.footer-row:hover {
    border: 1px solid grey;
}
.row-title{
    width: 100%;
}
.arrow-img {
    width: 24px;
    vertical-align: middle;
}
.row-title-text {
    margin: 0;
    display: inline-block;
    font-size: 16px;
    border-bottom: 1px solid darkgrey;
    padding-bottom: 3px;
    margin-bottom: 7px;
    padding-right: 10%;
}
.arrow-image-wrapper{
    width: 11%;
    display: inline-block;
}