* {
  box-sizing: content-box !important;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Dosis', sans-serif;
}
.input,
button {
  border-radius: 0px;
}

.wrapper {
  margin: 0 auto;
}
.add-edit-template-wrapper {
  height: 600px;
}
.settings-list-wrapper {
  height: 1200px;
}
.settings-toggleDrag {
  -webkit-app-region: drag;
  position: relative;
  /* left: 30%; */
  padding: 5px 10px;
  float: left;
  cursor: pointer;
  /* margin: 11px; */
  width: 80%;
}
.title {
  background-image: linear-gradient(-90deg, #99ddff, #0af);
  height: 30px;
  /* border-bottom: 1px solid grey; */
  /* background: black; */
  color: white;
  z-index: 2;
  font-size: 18px;
  padding: 10px 20px;
  position: fixed;
  width: calc(100% - 40px);
  /* border-radius: 10px 10px 0px 0px; */
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);
}
#settings-minimize {
  /*margin-right: 5px;
  padding: 0 12px 12px 12px;
  */
  width: 34px;
  height: 24px;
  margin-left: 4px;
  position: relative;
  cursor: pointer;
  float: right;

  top: 5px;
  position: relative;
  /*top: 10px;*/
}

#settings-close {
  /*padding: 6px 12px 6px 12px;*/
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-left: 10px;
  float: right;
  top: 5px;
  position: relative;
}
.options {
  /* height: calc(100% - 100px); */
  position: relative;
  display: block;
  top: 100px;
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: white;*/
}

/* height: calc(100%-80px);
    width:400px;
    margin: 0 auto;
    position: relative; */
/* float: left; */
/* background-color:gainsboro; */
/* top: 25%; */
/* padding: 3% 3%; */
/* border: 1px solid blue; */

.preview-layout {
  margin-top: 20px;
  /* height: calc(100% - 80px); */
  width: 100%;
  margin: 0 auto;
  top: 55px;
  position: relative;
  /* float: left; */
  background: ghostwhite;
}
#previewWrap {
  position: relative;
  /* float: left; */
  top: 25px;
  /* left: 5%; */
  width: 704px;
  min-width: 704px;
  /* margin: 0 auto; */
  /* left: 37px; */
  left: calc(50% - 352px);
}
.optionButtons {
  width: 80%;
  /* border: 1px solid red; */
  /* height: 8%; */
  /* top: 6%; */
  /* left: 2%; */
  position: relative;
  margin-top: 140px;
  margin: 0 auto;
  top: 70px;
  text-align: right;
}
#previewBtn,
#closePreview {
  position: relative;
  /* float: left; */
  /* height: 30px; */
  /* width: 100px; */
  /* border-radius: 30px; */
  background: white;
  background-color: white;
  border: 1px solid #898989;
  padding: 5px 20px;
  /* border-radius: 5px; */
  /*margin-right: 10px;*/
  font-size: 14px;
}

.buttonGroup {
  width: 706px;
  position: relative;
  top: 10px;
  margin: 0 auto;
  font-size: 14px;
}
.imageBtns {
  position: relative;
  top: 12%;
  height: 5%;
  width: 100%;
}
.buttons {
  position: relative;
  /*float: left;*/
  /*margin-left:4%;*/
  /*height: 30px;*/
  /*width: 100px;*/ /*
  border-radius: 30px;
  color: white;
  background-color: black;*/
}
.addBackImg,
.removeBackImg,
.preview-btn {
  padding: 4px 11px;
  background: white;
  border: 1px solid #898989;
  border-radius: 2px;
  position: relative;
  top: 2px;
  font-size: 14px;
}
.preview-btn > img {
  width: 32px;
  height: 32px;
}
#preview {
  min-height: 396px;
  max-height: 396px;
  height: 396px;
  min-width: 704px;
  max-width: 704px;
  width: 704px;
  position: relative;
  margin: 0 auto;
  border: 5px solid #0af;
}
canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.dropdown,
.width-val {
  padding: 0px 10px;
  /* background: black; */
  cursor: pointer;
  color: white;
  width: 26%;
  text-align: center;
  position: relative;
  /* float: left; */
  /* left: 19%; */
}
.optionrow {
  width: 100%;
  display: block;
  padding: 10px 0px;
}
.option-text {
  width: 58%;
  /*float: left;*/
}
.option-text-version {
  /*width: 51%;*/
  width: 79%;
}
.info {
  /*border-radius: 30px;
    border-color: gray;
    color: gray;
    position: relative;
    /*float: right;
        margin-right: 5px;*/
  width: 24px;
  cursor: pointer;
}
.crf-info {
  margin-left: 10px;
}
.saveSettings,
#savePreview {
  background: #0af;
  border: none;
  /* border-radius: 4px; */
  padding: 7px 24px;
  color: black;
  border: 1px solid white;
  color: white;
  font-size: 14px;
}
.input {
  width: 27%;
  /* height: 50%; */
  position: relative;
  /* float: left; */
  /* left: 19%; */
  background: ghostwhite;
  color: black;
  text-align: center;
  left: 9px;
  border-radius: 4px;
  border: 1px solid #898989;
  padding: 4px 0px;
  cursor: pointer;
}
#backbtn-image {
  position: relative;
  float: left;
  /* margin: 2% 0; */
  width: 18px;
  height: 24px;
  top: 7px;
}

.canvas-wrap {
  display: block;
  height: 150px;
  width: 300px;
  position: absolute;
  /*border: 1px solid black;*/
}
#cameraCanvas-wrap,
#screenCanvas-wrap {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 704px;
  height: 396px;
}
#bothscreenCanvas-wrap {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 704px;
  height: 396px;
}
#bothcameraCanvas-wrap {
  position: absolute;
  top: 242px;
  left: 446px;
  width: 258px;
  height: 154px;
}
.Finalbuttons {
  /* width: 88%; */
  /* height: 9%; */
  position: relative;
  /* float: left; */
  /* left: 5%; */
  top: 40px;
  width: 706px;
  margin: 0 auto;
  /*text-align: right;*/
}
input[type='file'] {
  display: none;
}
.settings-sep {
  border: none;
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);
  margin: 0.5rem 0 !important;
}
.custom-dropdown {
}
.dropdown-item {
  width: auto !important;
}
#crf-dropdown-menu {
  max-height: 150px;
  overflow: auto;
}
.dummy-images {
  display: none;
}
.preview-selector-wrap {
  /*background: white;*/
  display: inline-block;
  /*box-shadow: 1px 2px 6px -1px grey;
    padding: 10px 30px 10px 10px;*/
}
.preview-dropdown {
  width: unset;
  padding: unset;
}
.preview-dropdown > button {
  margin-left: 10px;
  background: transparent;
  border-color: #898989;
  color: black;
}
.preview-dropdown > button:hover {
  background: transparent !important;
  color: black !important;
}
.back-btns {
  display: inline-block;
}
.inner-final-btns-wrap {
  display: inline-block;
  float: right;
}
#preview-mode-type-dropdown {
  font-size: 14px;
  border-radius: 0px;
}
.btn-settings {
  background: white;
  left: 0;
  /* visibility: hidden; */
}

.version-text {
  color: #0af;
}
.install-update {
  display: none;
  position: relative;
  /* top: -12px; */
  width: 28px;
  cursor: pointer;
  height: 28px;
  /*left: 12px;*/
}
.new-image {
  position: relative;
  /* top: -12px; */
  width: 28px;
  cursor: pointer;
  height: 28px;
  /*left: 12px;*/
  display: none;
}
.infinite-loader {
  /*border: 3px solid;*/
  /*width: 28px;
    height: 28px;*/

  /*border-radius: 50%;*/
  color: white;
  border: none;
  /*border-color: #0af transparent transparent;*/
  /*animation: spin 2s linear infinite;*/
  /* position: fixed; */
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px 1px;
  float: left;
  cursor: progress;
  /* display: none; */
}
.background-img-btn-2 {
  width: 32px;
  height: 32px;
}
.logo-canvas {
  width: 100%;
  height: 100%;
}
.logo-canvas-wrap {
  width: 30%;
  height: 30%;
}
#btn-set-aspect-ratio {
  padding: 9px;
}
.text-right {
  text-align: right;
}

/******************** LOADER CSS ***********************/
.update-loader {
  border: 5px solid #f3f3ee;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-left: 20px;
  display: none;
  vertical-align: middle;
  margin-right: 10px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.download-update-status-text {
  margin-right: 10px;
}
.preview-container {
  width: 100%;
}
.btn-download-background-image-templates {
  background: white;
}

#Progress_Status {
  width: 50%;
  background-color: white;
  display: none;
  border-radius: 20px;
  padding: 4px;
  border: 1px solid #ccc;
}

#myprogressBar {
  width: 1%;
  height: 35px;
  background-color: #0af;
  text-align: center;
  line-height: 32px;
  color: white;
  border-radius: 20px;
}
.btn-cancel-download-background-image-templates {
  display: none;
}
.progress-bar-wrapper {
  margin-top: 15px;
}
.swal2-input {
  width: 90% !important;
}
.properties-panel-wrapper {
  width: 100%;
  /* top: 10px; */
  box-shadow: -2px 0px 7px -5px;
  display: inline-block;
  vertical-align: top;
  /* margin-top: 10px; */
  height: 92vh;
  overflow: auto;
  font-size: 1rem;
  background: white;
}
.options-side-nav-title {
  padding: 10px;
  /* padding-left: 20px; */
  border-bottom: 5px solid whitesmoke;
}
.video-editing-options-text {
  vertical-align: middle;
  /* margin-left: 10px; */
  font-size: 1rem;
}
.scrolling-text-row {
  padding: 5px;
  border-bottom: 5px solid whitesmoke;
}
.inline-block {
  display: inline-block !important;
}
.text-right {
  text-align: right;
}
.half-width {
  width: calc(50% - 5px);
}
.text-color-img,
.back-color-img {
  width: 18px;
  border: 1px solid lightgray;
  padding: 2px;
  border-radius: 5px;
  /* margin-left: 10px; */
  cursor: pointer;
}
.properties-panel-wrapper-outer {
  width: 19%;
  /* display: inline-block; */
  display: none;
  vertical-align: top;
}
.preview-layout-inner {
  width: 80%;
  display: inline-block;
}
.scrolling-text-option {
  position: relative;
}

.cbx:checked ~ label,
.cbx2:checked ~ label,
.cbx3:checked ~ label,
.cbx4:checked ~ label {
  background: rgba(1, 1, 1, 0.5);
}
.cbx:checked ~ label:after,
.cbx2:checked ~ label:after,
.cbx3:checked ~ label:after,
.cbx4:checked ~ label:after {
  left: 20px;
  background: black;
}
.cbx:disabled ~ label,
.cbx2:disabled ~ label,
.cbx3:disabled ~ label,
.cbx4:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}
.cbx:disabled ~ label:after,
.cbx2:disabled ~ label:after,
.cbx3:disabled ~ label:after,
.cbx4:disabled ~ label:after {
  background: #bcbdbc;
}
.lbl,
.lbl2,
.lbl3,
.lbl4 {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 44px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  vertical-align: middle;
  left: 15px;
}
.lbl:after,
.lbl2:after,
.lbl3:after,
.lbl4:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  content: '';
  transition: all 0.3s ease;
}
.lbl:active:after,
.lbl2:active:after,
.lbl3:active:after,
.lbl4:active:after {
  transform: scale(1.15, 0.85);
}
.scrolling-text-content-label {
  /* width: 20%;
  padding-left: 20%; */
}
.scrolling-text-content-value {
  /* width: 40%;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid lightgrey; */
}
.scrolling-text-content-font-size-value {
  width: 20%;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 5px;
  margin-left: 10px;
}
.scrolling-text-content-fixed-text-value {
  width: calc(100% - 10px);
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 5px;
  margin: 5px 0;
}
.scrolling-text-content-scrolling-text-value {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin: 10px 0;
  width: calc(100% - 10px - 2px);
}
.scrolling-text-start-time-sec,
.scrolling-text-running-time-sec {
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 5px 0px;
  margin: 5px 0;
}
.scrolling-text-wrapper {
  display: none;
  height: max-content;
  overflow: hidden;
  width: calc(100% - 2px);
  text-align: left;
  background: white;
  color: black;
  cursor: -webkit-grab;
  border: 1px solid #0af;
  top: 0;
  left: 0;
}
.fixed-text-wrap,
.scrolling-text-wrap {
  /* vertical-align: middle; */
  /* padding: 5px; */
  /* white-space: nowrap; */
}

.fixed-text-wrap,
.scrolling-text-wrap {
  /* vertical-align: middle; */
  padding: 5px;
  white-space: nowrap;
}