/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 90% !important;
  height: 95% !important;
  position: relative;
  top: 1%;
  position: relative;
}
.align-right {
  text-align: right;
}
/* The close-rec-item-settings-modal Button */
.close-rec-item-settings-modal {
  color: #aaaaaa;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
}

.close-rec-item-settings-modal:hover,
.close-rec-item-settings-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.rec-item-settings-modal-footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
  text-align: right;
  width: calc(100% - 20px);
  left: 0;
}

/** Dropdown styles **/

.dropdown {
  padding: 0px 10px;
  /* background: black; */
  cursor: pointer;
  color: white;
  text-align: center;
  position: relative;
  /* float: left; */
  /* left: 19%; */
}

.rec-item-settings-top-row {
  border: 1px solid lightgrey;
  padding: 1rem;
  width: 90%;
  display: inline-block;
}
.modal-close-wrapper {
  width: 5%;
  text-align: right;
}

.rec-item-settings-row {
  padding: 5px;
  position: relative;
  margin-top: 25px;
  /* width: 60%; */
  margin: 0 auto;
  /* margin-top: 25px; */
  /* border-bottom: 1px solid lightgrey; */
}
.camera-section,
.screen-section {
  border: 1px solid lightgrey;
  margin-top: 1rem;
  padding: 0 1rem;
}
.modal-section-title {
  background: #0af;
  color: white;
  padding: 5px 10px;
  /* margin-bottom: 10px; */
  font-size: 18px;
}

.camera-file-simple-name,
.screen-file-simple-name {
  color: #0af;
}
.rec-item-settings-row-bullet {
  width: 24px;
  margin-right: 10px;
}

.blue-text {
  color: #0af;
}