@font-face {
  font-family: "Dosis-Regular";
  src: url("../assets/fonts/Dosis-Regular.ttf");
  /*src: local('DejaVu Serif'), url('DejaVuSerif-webfont.woff') format('woff'), url('DejaVuSerif-webfont.ttf') format('truetype'), url('DejaVuSerif-webfont.svg#webfontCFu7RF0I') format('svg');*/
  font-weight: normal;
  font-style: normal;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
*,
::after,
::before {
  box-sizing: content-box !important;
}
button {
  outline: 0 !important;
  outline: none !important;
  -webkit-appearance: none!important;
}
a, button, button:visited{
  outline: 0 !important;
  outline: none !important;
  -webkit-appearance: none !important;
}
button:hover, button:active, button:focus{
  outline: 0 !important;
  outline: none !important;
  -webkit-appearance: none !important;
}
body {
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: "Dosis", sans-serif;
  /* padding: 1px; */
  background: ghostwhite;
}
@media (min-width: 1366px) {
  html,body {
    font-size: 18px;
  }
}
@media (min-width: 640px) {
  html,body {
    font-size: 14px;
  }
}
.toggleDrag {
  -webkit-app-region: drag;
  position: relative;
  cursor: pointer;
  width: 100%;
}
.header {
  background: black;
  color: white;
  font-size: 1.2rem;
  background-image: linear-gradient(-90deg, #99ddff, #0af);
  padding: 10px;
}

#minimize {
  width: 40px;
  cursor: pointer;
}

#close,
.close-img,
.modal-close-img {
  width: 18px;
  cursor: pointer;
}
.modal-close-img {
  top: 0;
}
.content {
  /* margin-top: 45px; */
  /* position: relative; */
  /* float: left; */
  /* width: 100%; */
  background: whitesmoke;
  padding-top: 10px;
}
.preview-wrap {
  position: relative;
  display: inline-block;
  /*20% is side nav*/
  /* width: calc(80% - 10px); */
  /* margin-top: 10px; */
  text-align: center;
}
.preview-content {
  /* padding: 0.5em; */
  min-height: 396px;
  max-height: 396px;
  height: 396px;
  border: 5px;
  min-width: 704px;
  max-width: 704px;
  width: 704px;
  position: relative;
  /* margin: 0 auto; */
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  /* left: 8%; */
  /* margin-top: 18px; */
  box-shadow: 5px 5px 12px -6px darkgrey, -4px -3px 11px -6px darkgrey;
  border: 3px solid #0af;
  background: white;
  overflow: hidden;
}

#btn-process-now {
  /*margin: 20px 40px; */
  border: none;
  background: #0af;
  color: white;
  padding: 5px 10px;
  /* border-radius: 5px; */
  border: 1px solid cornflowerblue;
}
/*#btn-process-now:hover{
  transition-duration: 0.5s;
  color: white;
  background: #0af;
}*/
.dummies {
  display: none;
}

/*********   Canvases    ******/
#canvas-back-img {
  width: 100%;
  height: 100%;
}

.canvas-wrap {
  /*border : 1px dashed black;*/
  /*display: inline-block;*/
  display: none;
  overflow: hidden;
}
.draggable {
  position: absolute;
}
.inline-block {
  display: inline-block !important;
}

.error-input {
  border: 1px solid red !important;
}
.correct-input {
  border: 1px solid green !important;
}

input,
button {
  outline: none;
}
.preview-btn {
  padding: 5px 10px;
  /* margin: 0px 10px; */
  border-radius: 2px;
  cursor: pointer;
  background: rgba(0, 170, 255, 0.7);
  color: white;
  border: 1px solid rgba(1, 1, 1, 0.1);
}
.process-now-wrap {
  text-align: right;
}
.recording-list {
  display: inline-block;
  width: 100%;
  /* height: 100%; */
  vertical-align: middle;
  /*margin: 5px;*/
  background: white;
  overflow: auto;
}
.recording-list-title {
  display: inline-block;
  background: rgba(1, 1, 1, 0.7);
  margin: 0;
  /* margin-bottom: 13px; */
  color: white;
  padding: 10px 0px;
  background: white;
  color: black;
  vertical-align: middle;
  width: 100%;
  border-bottom: 5px solid whitesmoke;
  position: relative;
  font-size: 1rem;
  /* margin-top: 17px; */
}
.rec-item-wrapper {
  display: block;
  margin: 10px 0;
}
.rec-item {
  width: calc(100% - 75px);
  background: transparent;
  border: none;
  padding: 5px 10px;
  /* margin: 1px; */
  font-size: 1rem;
  text-align: left;
  border-top: 1px solid whitesmoke;
}
.rec-item:hover {
  cursor: pointer;
  /*background: rgba(1,1,1,0.7);*/
  background: rgba(0, 170, 255, 0.7);
  color: white;
  transition-duration: 0.5s;
}
.active-rec-item {
  background: rgba(0, 170, 255, 0.7);
  color: white;
}
.rec-item-settings-icon {
  width: 18px;
  vertical-align: middle;
  /* padding: 5px; */
  cursor: pointer;
}
.rec-item-reorder-icon {
  width: 20px;
  vertical-align: middle;
  /* padding: 5px; */
  cursor: pointer;
}
button {
  cursor: pointer;
}
.quick-settings-img-wrap {
  display: inline-block;
  background: white;
  padding: 6px;
  /* czursor: pointer; */
  position: relative;
  left: 10px;
}

.quick-settings-img {
  width: 24px;
  height: 24px;
}
.recording-title {
  vertical-align: middle;
  margin: 0 5px;
}
.lbl,
.lbl2,
.lbl3,
.lbl4 {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 44px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  vertical-align: middle;
  left: 15px;
}

.lbl:after,
.lbl2:after,
.lbl3:after,
.lbl4:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  content: "";
  transition: all 0.3s ease;
}

.lbl:active:after,
.lbl2:active:after,
.lbl3:active:after,
.lbl4:active:after {
  transform: scale(1.15, 0.85);
}

.cbx:checked ~ label,
.cbx2:checked ~ label,
.cbx3:checked ~ label,
.cbx4:checked ~ label {
  background: rgba(1, 1, 1, 0.5);
}

.cbx:checked ~ label:after,
.cbx2:checked ~ label:after,
.cbx3:checked ~ label:after,
.cbx4:checked ~ label:after {
  left: 20px;
  background: black;
}

.cbx:disabled ~ label,
.cbx2:disabled ~ label,
.cbx3:disabled ~ label,
.cbx4:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}

.cbx:disabled ~ label:after,
.cbx2:disabled ~ label:after,
.cbx3:disabled ~ label:after,
.cbx4:disabled ~ label:after {
  background: #bcbdbc;
}

.hidden {
  display: none;
}
#hex-color {
  position: relative;
  /* left: 25px; */
  padding: 8px;
  border: 1px solid #898989;
  border-radius: 3px;
}

.custom-sep {
  border: none;
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);
  width: 50%;
  margin: 0 auto;
  margin: 12px auto;
  /* margin-left: 15%; */
  position: relative;
  left: 10%;
}

/************************* material slider*****************/

.pure-material-slider {
  --pure-material-safari-helper1: rgba(
    var(--pure-material-primary-rgb, 33, 150, 243),
    0.04
  );
  --pure-material-safari-helper2: rgba(
    var(--pure-material-primary-rgb, 33, 150, 243),
    0.12
  );
  --pure-material-safari-helper3: rgba(
    var(--pure-material-primary-rgb, 33, 150, 243),
    0.16
  );
  --pure-material-safari-helper4: rgba(
    var(--pure-material-primary-rgb, 33, 150, 243),
    0.24
  );
  display: inline-block;
  width: 200px;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  font-family: var(
    --pure-material-font,
    "Roboto",
    "Segoe UI",
    BlinkMacSystemFont,
    system-ui,
    -apple-system
  );
  font-size: 1rem;
  line-height: 1.5;
}
.pure-material-slider-play-time-slider {
  width: calc(100% - 60px - 175px - 120px);
  margin: 0 25px;
}
/* Input */
.pure-material-slider > input {
  -webkit-appearance: none;
  position: relative;
  top: 24px;
  display: block;
  margin: 0 0 -36px;
  width: 100%;
  height: 36px;
  background-color: transparent;
  cursor: pointer;
}

/* Without Span */
.pure-material-slider > input:last-child {
  position: static;
  margin: 0;
}

/* Span */
.pure-material-slider > span {
  display: inline-block;
  margin-bottom: 36px;
}

/* Focus */
.pure-material-slider > input:focus {
  outline: none;
}

/* Disabled */
.pure-material-slider > input:disabled {
  cursor: default;
  opacity: 0.38;
}

.pure-material-slider > input:disabled + span {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

/* Webkit | Track */
.pure-material-slider > input::-webkit-slider-runnable-track {
  margin: 17px 0;
  border-radius: 1px;
  width: 100%;
  height: 2px;
  background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.24);
}

/* Webkit | Thumb */
.pure-material-slider > input::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 50%;
  height: 2px;
  width: 2px;
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transform: scale(6, 6);
  transition: box-shadow 0.2s;
}

/* Webkit | Hover, Focus */
.pure-material-slider:hover > input::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px var(--pure-material-safari-helper1);
}

.pure-material-slider > input:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px var(--pure-material-safari-helper2);
}

.pure-material-slider:hover > input:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px var(--pure-material-safari-helper3);
}

/* Webkit | Active */
.pure-material-slider > input:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px var(--pure-material-safari-helper4) !important;
}

/* Webkit | Disabled */
.pure-material-slider > input:disabled::-webkit-slider-runnable-track {
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

.pure-material-slider > input:disabled::-webkit-slider-thumb {
  background-color: rgb(var(--pure-material-onsurface-rgb, 0, 0, 0));
  color: rgb(var(--pure-material-surface-rgb, 255, 255, 255)); /* Safari */
  box-shadow: 0 0 0 1px rgb(var(--pure-material-surface-rgb, 255, 255, 255)) !important;
  transform: scale(4, 4);
}

/* Moz | Track */
.pure-material-slider > input::-moz-range-track {
  margin: 17px 0;
  border-radius: 1px;
  width: 100%;
  height: 2px;
  background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.24);
}

/* Moz | Thumb */
.pure-material-slider > input::-moz-range-thumb {
  appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 50%;
  height: 2px;
  width: 2px;
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transform: scale(6, 6);
  transition: box-shadow 0.2s;
}

/* Moz | Progress */
.pure-material-slider > input::-moz-range-progress {
  border-radius: 1px;
  height: 2px;
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

/* Moz | Hover, Focus */
.pure-material-slider:hover > input:hover::-moz-range-thumb {
  box-shadow: 0 0 0 2px
    rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.04);
}

.pure-material-slider > input:focus::-moz-range-thumb {
  box-shadow: 0 0 0 2px
    rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.12);
}

.pure-material-slider:hover > input:focus::-moz-range-thumb {
  box-shadow: 0 0 0 2px
    rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.16);
}

/* Moz | Active */
.pure-material-slider > input:active::-moz-range-thumb {
  box-shadow: 0 0 0 2px
    rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.24) !important;
}

/* Moz | Disabled */
.pure-material-slider > input:disabled::-moz-range-track {
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

.pure-material-slider > input:disabled::-moz-range-progress {
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}

.pure-material-slider > input:disabled::-moz-range-thumb {
  background-color: rgb(var(--pure-material-onsurface-rgb, 0, 0, 0));
  box-shadow: 0 0 0 1px rgb(var(--pure-material-surface-rgb, 255, 255, 255)) !important;
  transform: scale(4, 4);
}

.pure-material-slider > input::-moz-focus-outer {
  border: none;
}

/* MS | Track */
.pure-material-slider > input::-ms-track {
  box-sizing: border-box;
  margin: 17px 0;
  border: none;
  border-radius: 1px;
  padding: 0 17px;
  width: 100%;
  height: 2px;
  background-color: transparent;
}

.pure-material-slider > input::-ms-fill-lower {
  border-radius: 1px;
  height: 2px;
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

/* MS | Progress */
.pure-material-slider > input::-ms-fill-upper {
  border-radius: 1px;
  height: 2px;
  background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.24);
}

/* MS | Thumb */
.pure-material-slider > input::-ms-thumb {
  appearance: none;
  margin: 0 17px;
  border: none;
  border-radius: 50%;
  height: 2px;
  width: 2px;
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transform: scale(6, 6);
  transition: box-shadow 0.2s;
}

/* MS | Hover, Focus */
.pure-material-slider:hover > input::-ms-thumb {
  box-shadow: 0 0 0 2px
    rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.04);
}

.pure-material-slider > input:focus::-ms-thumb {
  box-shadow: 0 0 0 2px
    rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.12);
}

.pure-material-slider:hover > input:focus::-ms-thumb {
  box-shadow: 0 0 0 2px
    rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.16);
}

/* MS | Active */
.pure-material-slider > input:active::-ms-thumb {
  box-shadow: 0 0 0 2px
    rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.24) !important;
}

/* MS | Disabled */
.pure-material-slider > input:disabled::-ms-fill-lower {
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

.pure-material-slider > input:disabled::-ms-fill-upper {
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  opacity: 0.38;
}

.pure-material-slider > input:disabled::-ms-thumb {
  background-color: rgb(var(--pure-material-onsurface-rgb, 0, 0, 0));
  box-shadow: 0 0 0 1px rgb(var(--pure-material-surface-rgb, 255, 255, 255)) !important;
  transform: scale(4, 4);
}

.slider-value-text {
  position: relative;
  left: 15px;
  width: 20%;
  text-align: center;
}
.side-nav {
  width: 10%;
  /* top: 10px; */
  box-shadow: 3px -24px 6px -55px, 1px 0px 12px -8px;
  /* margin: 5px 0; */
  vertical-align: top;
  z-index: 2;
  left: 0;
  display: inline-block;
  /* margin-left: 5px; */
  /* margin-right: 10px; */
  overflow: auto;
}
.rec-list-hr {
  margin: 0;
  opacity: 00.3;
  margin-bottom: 6px;
}
.back-img-btns {
  background: white;
  color: black;
  /* float: left; */
  /* padding: 5px 10px; */
}
.preview-btns {
  /* display: inline-block; */
  /* width: 80%; */
  margin: 0 5%;
  margin-top: 25px;
}
.preview-btns-wrap {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: right;
  /* margin-left: 15%; */
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  /* width: 704px; */
  margin-top: 15px;
  min-width: 704px;
  max-width: 704px;
}
.process-btns {
  text-align: left;
}

.default-transparency-options-hide {
  display: none;
}
.default-transparency-options-show {
  display: block;
  margin-top: 10px;
  text-align: right;
  padding-right: 10px;
}
#transparency-options-inner {
  display: inline-block;
  margin-top: 10px;
  border-top: 5px solid whitesmoke;
  border-bottom: 5px solid whitesmoke;
  padding: 10px 0px;
}

.btn-default-transparency {
  background: rgba(0, 170, 255, 0.7);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.load-default {
  margin-bottom: 10px;
}
.example-hex-color {
  color: grey;
  /* left: 50px; */
  font-size: 1rem;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.btn-img {
  width: 24px;
  height: 24px;
}
.crop-mode-preview {
  /*padding: 0.5em; */
  min-height: 396px;
  max-height: 396px;
  height: 396px;
  border: 5px;
  min-width: 704px;
  max-width: 704px;
  width: 704px;
  position: relative;
  /* margin: 0 auto; */
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  /* left: 8%; */
  /* margin-top: 18px; */
  box-shadow: 5px 5px 12px -6px darkgrey, -4px -3px 11px -6px darkgrey;
  border: 3px solid #0af;
  background: white;
  display: block !important;
}
.crop-mode-preview-wrap {
  margin-top: 15px;
}
#btn-close-crop-mode {
  margin-top: 20px;
  vertical-align: top;
  display: none;
}
.crop-mode-btns-wrap {
  text-align: right;
  margin-top: 2rem;
}
.cancel-crop-btn {
  color: black;
  background: white;
}
.back-btn-wrap {
  display: inline-block;
  background: none;
  border: none;
  position: relative;
  /* top: 10px; */
  /* left: 10px; */
}
.back-btn {
  width: 24px;
}
.logo-canvas-wrap {
  display: inline-block;
  width: 200px;
  height: 200px;
}
.logo-canvas {
  width: 100%;
  height: 100%;
}
.background-img-btn-2 {
  width: 24px;
  height: 24px;
}
.install-update {
  display: none;
  position: relative;
  /* top: -12px; */
  width: 28px;
  cursor: pointer;
  height: 28px;
  /*left: 12px;*/
}
.new-image {
  position: relative;
  top: 12px;
  width: 28px;
  cursor: pointer;
  height: 28px;
  /*left: 12px;*/
  display: none;
}
.infinite-loader {
  /*border: 3px solid;*/
  /*width: 28px;
    height: 28px;*/
  position: relative;
  /*border-radius: 50%;*/
  color: white;
  border: none;
  /*border-color: #0af transparent transparent;*/
  /*animation: spin 2s linear infinite;*/
  /* position: fixed; */
  top: 8px;
  margin: 0px 1px;
  /*float: left;*/
  cursor: progress;
  display: none;
}
.hex-color-correct-incorrect {
  position: relative;
  /* left: 100px; */
  color: red;
}
.invalid-similarity,
.invalid-opacity {
  border: 1px solid red;
}

#rec-item-settings-mode-selector {
  margin-left: 30px;
}
.btn-view-file {
  padding: 5px 10px;
  margin: 0px 10px;
  border-radius: 2px;
  cursor: pointer;
  background: rgba(0, 170, 255, 0.7);
  color: white;
  border: 1px solid rgba(1, 1, 1, 0.1);
}
.btn-change-file,
.btn-save-changes {
  margin: 0px 10px;
  border-radius: 2px;
  cursor: pointer;
  background: rgba(0, 170, 255, 0.7);
  color: white;
  border: 1px solid rgba(1, 1, 1, 0.1);
  /* margin: 20px 40px; */
  border: none;
  background: #0af;
  color: white;
  padding: 5px 10px;
  /* border-radius: 5px; */
  border: 1px solid cornflowerblue;
}
.btn-save-changes {
  padding: 10px 15px;
}
.lds-spinner {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 47%;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #000;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader {
  display: none;
  position: relative;
  z-index: 9999;
}
/* .waveform-pin {
  width: 24px;
  cursor: move;
} */
.inline-block {
  display: inline-block;
}
.end-time-wrapper, .total-time-wrapper {
  margin-left: 20px;
}
.waveform-img {
  border: 1px solid lightgrey;
}
.waveform-pin {
  display: inline-block;
  height: 100px;
  width: 2px;
  position: absolute;
  left: 0;
  cursor: move;
}
.waveform-pin-start {
  background: #0a74ec;
}
.waveform-pin-end {
  background: #fb5151;
}

.pins-wrapper {
  position: relative;
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
  /* margin-top: 1rem; */
}

.reprocess-videos-section-wrapper {
  display: none;
  margin-top: 50px;
  position: relative;
  float: left;
  width: 100%;
}
.select-videos-for-reprocessing {
  width: 100%;
  text-align: center;
  position: relative;
  top: 35vh;
}

.select-reprocess-file-btn {
  padding: 10px 15px;
  margin: 0px 10px;
  border-radius: 2px;
  cursor: pointer;
  background: rgba(0, 170, 255, 0.7);
  color: white;
  border: 1px solid rgba(1, 1, 1, 0.1);
}

.preview-mode-wrap {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  /* margin: 5px 0px; */
  /* padding: 0 10px; */
}
.half-width {
  width: calc(50% - 5px);
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.options-side-nav-wrapper {
  width: 15%;
  /* float: left; */
  position: relative;
  /* top: 10px; */
  box-shadow: 3px -24px 6px -55px, 1px 0px 12px -8px;
  /* margin: 5px; */
  /* margin-right: 0; */
  display: inline-block;
  vertical-align: top;
  height: 90vh;
  background: white;
  z-index: 1;
  margin-right: 10px;
}
.options-side-nav-trigger {
  /* margin: 20px 40px; */
  border: none;
  background: white;
  color: black;
  padding: 10px 15px;
  /* border-radius: 5px; */
  border: 1px solid black;
}

.options-side-nav-title {
  padding: 10px;
  /* padding-left: 20px; */
  border-bottom: 5px solid whitesmoke;
}
.name-side-nav-title{
  padding: 10px;
  /* padding-left: 20px; */
  border-bottom: 5px solid whitesmoke;
}
.side-nav-btn {
  display: inline-block;
  margin: 2px 0;
  /* width: 88%; */
  text-align: left;
  font-family: "Dosis-Regular";
  width: calc(95% - 20px - 2px);
  padding: 5px 0px;
  width: 95%;
  border: none;
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);
  border-radius: 0;
  padding-bottom: 5px;
}
.vertical-middle {
  vertical-align: middle;
}
.vertical-top {
  vertical-align: top;
}
.option-btn-text {
  font-size: 1rem;
  padding-left: 5px;
}
.inner-span{
  vertical-align: middle;
  font-size: 1rem;
}

.video-editing-options-img {
  width: 32px;
  vertical-align: middle;
}
.video-editing-options-text {
  vertical-align: middle;
  /* margin-left: 10px; */
  font-size: 1rem;
}
.name-option-text{
  vertical-align: middle;
  /* margin-left: 10px; */
  font-size: 1rem;
}
.properties-panel-wrapper {
  width: 20%;
  /* top: 10px; */
  box-shadow: -2px 0px 7px -5px;
  display: inline-block;
  vertical-align: top;
  /* margin-top: 10px; */
  height: 92vh;
  overflow: auto;
  font-size: 1rem;
  background: white;
}
.properties-panel-item {
  background: white;
  /* border: 1px solid lightgrey; */
  /* height: calc(100% - 2px); */
  /* max-height: calc(27vh - 5px); */
  /* height: 20vh; */
  /* max-height: 20vh; */
  /* overflow: auto; */
  text-align: left;
  /* padding: 5px; */
  font-size: 1rem;
}
.hidden {
  display: none;
}
.transparency-title-wrap {
  margin-bottom: 10px;
}

.add-remove-rec-item-btn > img {
  vertical-align: initial !important;
  width: 18px;
}
button.add-remove-rec-item-btn {
  background: transparent;
  border: none;
  padding: 0 2px;
  vertical-align: -webkit-baseline-middle;
}
.add-remove-rec-btns-wrapper {
  margin: 5px 0;
  border-bottom: 5px solid whitesmoke;
}

.transparency-content-wrap {
  /* text-align: center; */
  padding: 5px;
}
.scrolling-text-wrapper {
  display: none;
  height: max-content;
  overflow: hidden;
  width: calc(100% - 2px);
  text-align: left;
  background: white;
  color: black;
  cursor: -webkit-grab;
  border: 1px solid #0af;
  top:0;
  left:0;
}
/* .scrolling-text-wrapper {
  position: absolute;
  top: 50px;
  left: 3px;
  text-align: left;
  width: calc(100% - 6px - 2px);
  background: white;
  color: black;
  font-size: 1rem;
  cursor: -webkit-grab;
  display: none;
  border: 1px solid #0af;
  height: max-content;
  overflow: hidden;
}*/
.scrolling-text-option {
  position: relative;
}
.scrolling-text-row {
  padding: 5px;
  border-bottom: 5px solid whitesmoke;
}
.adjust-brightness-text-row {
  padding: 5px;
  border-bottom: 5px solid whitesmoke;
}
.fixed-text-wrap,
.scrolling-text-wrap {
  /* vertical-align: middle; */
  padding: 5px;
  white-space: nowrap;
}
.scrolling-text-font-size-wrap {
  margin-left: 30px;
}
.play-time-wrap {
  /* width: 64%; */

  padding-bottom: 10px;
}
.play-pause-wrapper {
border-bottom: 1px solid lightgrey;
margin-bottom: 10px;
padding-bottom: 10px;
}
.process-btns-wrap {
  /* width: 35%; */
  margin-top: 10px;
}
.scrolling-text-content-label {
  /* width: 20%;
  padding-left: 20%; */
}
.scrolling-text-content-value {
  /* width: 40%;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid lightgrey; */
}
.scrolling-text-content-font-size-value {
  width: 20%;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 5px;
  margin-left: 10px;
}
.scrolling-text-content-fixed-text-value {
  width: calc(100% - 10px);
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 5px;
  margin: 5px 0;
}

.scrolling-text-content-scrolling-text-value {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin: 10px 0;
  width: calc(100% - 10px - 2px);
}

/* .scrolling-text-content-fixed-text-value, .scrolling-text-content-scrolling-text-value {
  width: 40%;
} */
.text-color-img,
.back-color-img {
  width: 18px;
  border: 1px solid lightgray;
  padding: 2px;
  border-radius: 5px;
  /* margin-left: 10px; */
  cursor: pointer;
}
.info {
  width: 24px;
  cursor: pointer;
}

.hamburger-menu-wrapper {
  cursor: pointer;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 5px solid whitesmoke;
  font-size: 1rem;
}
.hamburger-menu-line {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 4px 0;
  border-radius: 5px;
}

.hide-recordings-btn {
  width: 18px;
  position: absolute;
  right: 20px;
  padding-top: 10px;
  cursor: pointer;
}
.scrolling-text-start-time-sec,
.scrolling-text-running-time-sec {
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 5px 0px;
  margin: 5px 0;
}

.hamburger-menu-text {
  vertical-align: middle;
  margin-left: 10px;
}
.hamburger-menu {
  border: 1px solid lightgrey;
  padding: 3px 5px;
  border-radius: 4px;
  vertical-align: middle;
}
.current-rec-wrapper {
  border-bottom: 5px solid whitesmoke;
}
.current-rec-wrapper .rec-item {
  width: 70%;
}
.header-section-1 {
  width: 20%;
  display: inline-block;
}
.header-section-2 {
  width: 60%;
  text-align: center;
  display: inline-block;
}
.header-section-3 {
  width: 19%;
  display: inline-block;
  text-align: right;
  position: relative;
  right: 10px;
}

.option-buttons-wrap {
  text-align: center;
}
.transparecy-title-text-wrap {
  width: calc(100% - 10px);
  padding: 10px 5px;
  border-bottom: 5px solid whitesmoke;
}
.logo-options-info {
  margin-left: 20px;
  vertical-align: top;
}
.logo-options {
  text-align: center;
}
.show-logo-options-title-wrapper {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
}
.adjust-brightness-input {
  width: 5rem;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 5px;
  margin-left: 10px;
  text-align: center;
}
.adjust-brightness-info-img {
  width: 18px;
}
.adjust-brightness-options-title-wrapper {
  margin: 10px 0;
  padding: 5px;
}

.btn-reset-adjust-brightness-values{
  border: 1px solid #0af;
  background: rgba(0, 170, 255, 0.7);
  color: white;
  border-radius: 5px;
  padding: 3px 10px;
}
.play-time-end-text {
  /* width: 49%; */
  display: inline-block;
  text-align: right;
}
.play-time-current-text {
  /* width: 10%; */
  display: inline-block;
  text-align: left;
}
.mini-player-button {
  width: 24px;
  outline: none;
  vertical-align: text-top;
}
.mini-player-play-button {
  width: 24px;
  outline: none;
}
.mini-player-fullscreen-btn {
  width: 18px;
}
.play-btn {
  padding: 0;
}
.play-btn, .stop-btn, .fullscreen-canvas-btn {
  background: transparent;
  border: none;
  outline: none;
}
.fullscreen-canvas-btn > img {
  vertical-align: middle;
}
.play-time-current-input {
  background: white;
  border-radius: 5px;
  border: 1px solid #0af;
  padding: 5px;
  width: 90px;
  text-align: center;
}
.preview-content-fullscreen {
  min-height: calc(100% - 6px);
  max-height: calc(100% - 6px);
  height: calc(100% - 6px);
  border: 5px;
  min-width: calc(100% - 6px);
  max-width: calc(100% - 6px);
  width: calc(100% - 6px);
  vertical-align: middle;
  margin: 0 auto;
  /* left: 8%; */
  /* margin-top: 18px; */
  box-shadow: 5px 5px 12px -6px darkgrey, -4px -3px 11px -6px darkgrey;
  border: 3px solid #0af;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: white;
  overflow: hidden;
}
.play-pause-container-fullscreen {
  position: fixed;
  bottom: 0;
  width: 50%;
  background: rgba(1,1,1,0.9);
  z-index: 1;
  padding: 0px 10px;
  border-radius: 10px;
}
.play-pause-container-fullscreen .play-time-end-text {
  color: white;
}
.play-pause-container-fullscreen .play-time-wrap {
  padding: 10px 15px;
}

.play-time-wrap-part-1 {
  width: 175px;
  display: inline-block;
}
.play-time-wrap-part-3 {
  display: inline-block;
  width: 120px;
}
.preview-area-video {
  object-fit: fill;
}
video {
  position: relative;
}
