@font-face {
    font-family: 'Orbitron-Regular';
    src: url('../assets/fonts/Orbitron-Regular.ttf');
    /*src: local('DejaVu Serif'), url('DejaVuSerif-webfont.woff') format('woff'), url('DejaVuSerif-webfont.ttf') format('truetype'), url('DejaVuSerif-webfont.svg#webfontCFu7RF0I') format('svg');*/
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dosis-Light';
    src: url('../assets/fonts/Dosis-Light.ttf');
    /*src: local('DejaVu Serif'), url('DejaVuSerif-webfont.woff') format('woff'), url('DejaVuSerif-webfont.ttf') format('truetype'), url('DejaVuSerif-webfont.svg#webfontCFu7RF0I') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

html,body{
	margin : 0;
	padding: 0;
	background: rgba(1,1,1);
    color: white;
    overflow: hidden;
}
.countdown-title{
	font-size: 1em;
	padding-left: 15px;
	letter-spacing: 1.5px;
	 font-family: "Dosis-Light";
}
.countdown-timer{
	font-size: 5em;
    position: relative;
    font-family: "Orbitron-Regular";
}
.wrapper{
    position: relative;
    /* display: inline-block; */
    text-align: center;
    /* width: 100%; */
    /* height: 100%; */
    top: calc(50% - 90px);
}